.c-footer {
    width: 100%;
    max-width: 100%;
    position: relative;

    img {
        width: 100%;
    }

    .c-footer__bg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .c-footer__logo {
        max-width: 70px;
        width: 100%;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .c-footer__menulink {
        font-size: 1.3rem;
        color: white;
    }

    .c-footer__menu {
        position: relative;
        margin-top: 30px;
        margin-bottom: 30px;
        padding-top: 30px;
        padding-bottom: 30px;


        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%);
            width: 230px;
            height: 1px;
            background-color: rgb(255, 255, 255);
            margin: 0 auto;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%);
            width: 230px;
            height: 1px;
            background-color: rgb(255, 255, 255);
            margin: 0 auto;
        }
    }

    

    .c-footer__menuitem~.c-footer__menuitem {
        margin-top: 20px;
    }

    .c-footer__menulink{
    
    }

    .c-footer__content {
        color: white;
    }

    .c-footer__socialitem {
        display: flex;
    }

    .c-footer__sociallist {
        display: flex;
        justify-content: center;
    }

    .c-footer__socialitem~.c-footer__socialitem {
        margin-left: 20px;
    }

    .c-footer__sociallink {
        max-width: 36px;
        width: 100%;
        display: block;
    }
    
}
