<footer class="c-footer">
    <picture>
      <source media="(max-width:767px)" srcset="assets/img/footer/footer-banner__sp">
      <img src="../assets/img/footer/footer-banner.jpg" alt="" >
    </picture>  
    <div class="c-footer__bg">
        <a href="#" class="c-footer__logo">
            <img src="../assets/img/logo/logo-header.png" alt="" class="">
        </a>
        <ul class="c-footer__menu">
            <li class="c-footer__menuitem">
                <a href="" class="c-footer__menulink">
                    卵・乳製品・白砂糖をつかわない おやつのアトリエmoco
                </a>
            </li>
            <li class="c-footer__menuitem">
                <a href="" class="c-footer__menulink">
                    〒505-0038 岐阜県美濃加茂市中部台2-14-15
                </a>
            </li>
            <li class="c-footer__menuitem">
                <a href="" class="c-footer__menulink">
                    OPEN：毎週金曜 11:00～18:30（売切れ次第閉店となります）
                </a>
            </li>
        </ul>
        <ul class="c-footer__sociallist">
            <li class="c-footer__socialitem">
                <a href="#" class="c-footer__sociallink">
                    <img src="../assets/img/footer/icon/icon-1.svg" alt="">
                </a>
               
               
            </li>
            <li class="c-footer__socialitem">
                <a href="#" class="c-footer__sociallink">
                    <img src="../assets/img/footer/icon/icon-2.svg" alt="">
                </a>
            </li>
            <li class="c-footer__socialitem">
                <a href="#" class="c-footer__sociallink">
                    <img src="../assets/img/footer/icon/icon-2.svg" alt="">
                </a>
            </li>
        </ul>
        <p class="c-footer__content">
            © L'ATELIER DU GOÛTER MOCO. ALL RIGHTS RESERVED.
        </p>
    </div>
</footer>